* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

             /*GENERAL STYLES */
body {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}
                /*HEADER STYLE*/
.header {
    background: black;
    margin: 0 auto;
    height: 40px;
}

#logo {
    font-weight: 700;
    color: white;
    text-decoration: none;
    float: left;
    padding-top: 10px;
    margin-left: 20px;
}

span {
    color: #24ba9f;
}

.navButtons {
    list-style-type: none;
    margin: 0 20px 0 20px;
}

#hiddenList {
    display: none;
    background: transparent;
    list-style-type: none;
    width: 110px;
    padding: 0;
    padding-top: 13px;
    line-height: 30px;
    border-bottom: 0;
    position: absolute;
    color: white;
    right: 24%;
    top: 25px;
}
#hiddenList li>a, #hiddenList li>a:visited {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#hiddenList li {
    background-color: black;
    padding-left: 10px;
}
#hiddenList li:first-child {
    padding-top: 10px;
}

#hiddenList li:last-child {
    padding-bottom: 8px;
}
#about:hover #hiddenList {
    display: block;
}

.navButtons>a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 0 5px 0 5px;
    padding-top: 10px;
}

.navButtons>a:hover {
    border-bottom: 3px solid #24ba9f;
    transition: all 100ms ease-in-out;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
                    /*SLIDER STYLES*/
.slider {
    clear: both;
    height: 500px;
    padding-top: 100px;
    padding-right: 150px;
    padding-left: 150px;
    background: linear-gradient(180deg, white, #c7c5c7);
    position: relative;
    margin: 0 auto;
}

#chairBox_slider {
    position: relative;
    padding-left: 25px;
    width: 50%;
    float: left;
}
#arrowLeft, #arrowLeft:visited {
    text-decoration: none;
    font-size: 5em;
    position: absolute;
    top: 200px;
    left: 100px;
    color: #24ba9f;
}
#arrowRight, #arrowRight:visited {
    text-decoration: none;
    font-size: 5em;
    position: absolute;
    top: 200px;
    right: 100px;
    color: #24ba9f;
}

#textBox_slider {
    padding-top: 15px;
    padding-right: 50px;
    float: right;
    position: relative;
    width: 50%;
    text-align: center;
    top: 40px;
}
#textBox_slider h1 {
    font-size: 2em;
    font-weight: 700;
}
#textBox_slider p {
    text-align: center;
    padding: 0 20px 0 20px;
}
#buttonMore {
    margin-top: 30px;
    line-height: 50px;
    width: 200px;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #24ba9f;
    border-radius: 10% 10%;
}
                    /*PRODUCT STYLES*/
.products {
    height: 350px;
    position: relative;
    padding: 25px 40px;
    margin: 0 auto;
}
.productImg {
    margin: 0 10px;
    width: 350px;
    height: 250px;
    float: left;
}
.one img{
    width: 100%;
    height: 100%;
}
.two img{
    width: 100%;
    height: 100%;
}

#product1_description, #product2_description {
     clear-after: both;
     position: absolute;
     width: 350px;
     height: 50px;
     bottom: 100px;
     background-color: rgba(255, 255, 255, 0.5);
     padding: 0 15px;
 }
#product1_description p, #product2_description p {
    margin-top: 10px;
    border-bottom: 7px solid #24ba9f;
    font-weight: 700;
    display: inline-block;
}
#product1_description p {
    padding-right: 50px;
}
.productTxt {
    padding: 20px;
}
#txt_title {
    width: 350px;
    height: 50px;
}
#txt_title>p {
    margin-top: 10px;
    border-bottom: 7px solid #24ba9f;
    font-weight: 700;
    display: inline-block;
    padding-right: 50px;
}
#txt_paragraph p {
    font-size: 15px;
    color: darkgrey;
    line-break: loose;
}
.productTxt {
    margin: 0 10px;
    border: 2px solid grey;
    width: 350px;
    height: 280px;
    float: left;
}
                    /*OFFER STYLES */
.offer {
    height: 730px;
    padding: 20px 30px;
    background: #E2E2E2;
}

#offer_title {
    height: 35px;
    width: 330px;
    margin: 40px 24px;
    border-bottom: 7px solid #24ba9f;
}

#offer_title p {
    padding-right: 100px;
    font-weight: 700;
    font-size: 1.2em;
    color: grey;
    text-transform: uppercase;
}

.offer_box {
    height: 500px;
    width: 330px;
    border: 2px solid grey;
    float: left;
    margin: 24px;
    position: relative;
    padding-top: 50px;
    background: #f1f1f1;
}

#lightened {
    background: #24ba9f;
    border: 2px solid #24ba9f;
}

#light_in {
    background: white;
}

#light_out {
    background: #24ba9f;
    border: 0;
}

#lightened>p {
    background: #24ba9f;
    color: white;
}

#lightened>.offer_includes>div {
     background: lightgrey;
 }
#lightened>.offer_includes>.light {
    background: #BABABA;
}

#lightened>button {
    background: white;
    color: #24ba9f;
}

.offer_box_point_out {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    border: 2px solid grey;
    left: 135px;
    top: -40px;
}
.offer_box_point_in {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #DADADA;
    top: 13px;
    left: 13px;
}
.offer_plan_name {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    color: #24ba9f;
}

.offer_includes {
    width: 100%;
    height: 180px;
    padding-top: 50px;
}
.offer_includes>div {
    text-align: center;
    font-size: 1.5em;
    background: #BABABA;
    line-height: 35px;
    color: grey;
}
.offer_includes>.light {
    background: lightgrey;
}
.offer_box>button {
    position: absolute;
    bottom: 30px;
    left: 115px;
    line-height: 30px;
    width: 100px;
    border-radius: 10% 10%;
    background: #24ba9f;
    color: white;
    text-transform: uppercase;
}
                    /*CONTACT STYLES*/
.contact {
    height: 550px;
    padding: 30px;
}
.contact_title {
    margin: 0 30px;
    height: 35px;
    width: 320px;
    border-bottom: 7px solid #24ba9f;
}
.contact_title>p {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 20px;
    color: grey;
    text-transform: uppercase;
}
.contact_form {
    margin-top: 20px;
    width: 640px;
    height: 400px;
}
input , textarea {
    width: 600px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 15px;
    border: 1px solid #24ba9f;
}
footer {
    height: 80px;
}